# adapted from https://github.com/themattrix/python-pypi-template/blob/master/.dockerignore
.git/
.gitignore
circle.yml 
docker-compose.yml
.docker
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
*.log
.env
.ropeproject
*/.ropeproject
*/*/.ropeproject
*/*/*/.ropeproject
*.swp
*/*.swp
*/*/*.swp
*/*/*/*.swp.git/
build
dist
*.egg-info
*.egg/
*.pyc
*.swp
Makefile
